
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:bisque;
    

}

.wrapper{
    user-select: none; 
}

.wrapper .time {
    height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0,0, .09);
}

.wrapper .time span {
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 100px;
    color: black;
}

.time span.colon
.time span.milisecond {
    width: 10px;
    color:antiquewhite
}

.wrapper .buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 6px 10px;
    outline: none;
    border: none;
    margin:  0 10px;
    color:bisque;
    font-size: 10px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0,0, .09);
}

.buttons button.active,
.buttons button.stopActive {
    pointer-events: none;
    opacity: .7;
}
